# Homework Chapter 02
## Daniel Green
### 1027606

Dr. Babb,

Good afternoon.  I was more comfortable with the environment with this assignment but had to redo it a few times to get it correct, none of it being without heavy use of references.

Respectfully,
Daniel Green

resources used:  https://www.datacamp.com/community/blog/python-pandas-cheat-sheet?utm_source=adwords_ppc&utm_campaignid=1655852085&utm_adgroupid=77088685371&utm_device=c&utm_keyword=%2Bpandas%20%2Bcheat%20%2Bsheet&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=353755544532&utm_targetid=aud-1282405912307:kwd-589281899014&utm_loc_interest_ms=&utm_loc_physical_ms=9053366&gclid=CjwKCAjwqvyFBhB7EiwAER786cBaY52Q81X1qg193ejQIPwpQ7uGAhafIDIDraE9Ceg_evXLtk74_BoCwZIQAvD_BwE

In [12]:
import pandas as pd
# importing a csv
df = pd.read_csv('../../ch_02/data/parsed.csv')
# printing out df (dataframe) will then show you what the imorted data
#df (uncomment to see data)

## Exercise 1
Find the 95th percentile of earthquake magnitude in Japan using the mb magnitude type.

In [2]:
# 
df[
    (df.parsed_place == 'Japan') & (df.magType == 'mb')
].mag.quantile(0.95)
# enter percentile as a decimal

4.9

## Exercise 2
Find the precentage of earthquakes in Indonesia that were coupled with tsunamis.

In [13]:
f"{df[df.parsed_place == 'Indonesia'].tsunami.value_counts(normalize=True).iloc[1,]:.2%}"
#he min-max approach (often called normalization) rescales the feature to a hard and fast range of [0,1] by subtracting the minimum value of the feature then dividing by the range.

'23.13%'

## Exercise 3
Calculate summary statistics for earthquakes in Nevada.

In [15]:
df[df.parsed_place == 'Nevada'].describe()
# Descriptive statistics include those that summarize the central tendency, dispersion and shape of a datasetâ€™s distribution, excluding NaN values.
# Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types. The output will vary depending on what is provided. Refer to the notes below for more detail.
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

## Exercise 4
Note we need to use `^Mexico` to get Mexico, but not New Mexico.
Addd a column indicating whether the earthquake happened in a country or US state that is on the Ring of Fire.  Use Alaska, Antartica (look for antarctic), Bolivia, California, Canada, Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indonesia, Japan, Kermadec Islands, Mexico (be careful not to select New Mexico), New Zealand, Peru, Philippines, Russia, Taiwan, Tonga and Washington.

In [5]:
df['ring_of_fire'] = df.parsed_place.str.contains(r'|'.join([
    'Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada',
    'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala',
    'Indonesia', 'Japan', 'Kermadec Islands', '^Mexico',
    'New Zealand', 'Peru', 'Philippines', 'Russia',
    'Taiwan', 'Tonga', 'Washington' 
]))
#similar/same as sql

## Exercise 5
Calculate the number of earthquakes in the Ring of Fire locations and the number outside them.

In [6]:
df.ring_of_fire.value_counts()
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html

True     7188
False    2144
Name: ring_of_fire, dtype: int64

## Exercise 6
Find the tsunami count along the Ring of Fire.

In [7]:
df.loc[df.ring_of_fire, 'tsunami'].sum()
#access the loc inside dataframe and in brackets then look at the ring_of_fire value and then add them

45

<hr>
<div>
    <a href="../../ch_02/6-adding_and_removing_data.ipynb">
        <button>&#8592; Chapter 2</button>
    </a>
    <a href="../../ch_03/1-wide_vs_long.ipynb">
        <button style="float: right;">Chapter 3 &#8594;</button>
    </a>
</div>
<hr>